.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Cards */
.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 800px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background: #faf8f8;
  color: rgb(167, 166, 166);
  border-radius: 6px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

/* Shapes */
.shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 140px;
  z-index: 1;
  overflow: hidden;
}

/* Círculos */
.shape::before,
.shape::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 90px;
  border-radius: 50%;
  background: #222222;
  transition: all 0.5s ease-in-out;
}

.shape::before {
  right: 12px;
  top: -50px;
}

.shape::after {
  right: -80px;
  top: -30px;
}

/* Topo do card */
.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.top h1 {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}

.iconBox {
  background: #3b6b9c;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
  margin-right: -2px;
}

.iconBox img {
  width: 32px;
  height: 32px;
}

/* Texto */
.titulo {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #463939;
}

.desc {
  color: #0c0c0c;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 1.7rem;
  font-weight: 700;
  color: #050505;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Inter', sans-serif;
}

.sectionMarker {
  font-size: 0.7rem;
  font-weight: 500;
  color: #2e3d89;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 10px;
  width: 100%;
}

/* Imagem inferior */
.bottomImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Botão */
.whatsappButton {
  padding: 12px 26px;
  border-radius: 20px;
  background-color: #0c4a6e;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.whatsappButton:hover {
  background: #0a3a57;
}